* {
    padding:0;
    margin:0;
}
body {
    font-family: "Times New Roman", Times, serif;
}
.flex-container {
    display:flex;
    flex-direction: column;
    width:70%;
    margin:0 auto;
    text-align:center;
    border:double;
}
.head { 
    background-color:#FDFE1E;
    text-align: center;
    font-size:24px;
    padding-top:20px;
    padding-bottom:20px;
}
.category {
    background-color:#E3FB95;
    display:flex;
    justify-content: space-around;
    border:double;
    border-left:none;
    border-right:none;
}
.content-1 { 
    display:flex;
    justify-content: space-around;
    border-bottom:double;
}
.content-2 {
    display:flex;
    justify-content: space-around;

}
.item {
    padding:10px;
    width:100%;
    border-right:double;
}
.item:last-child {
    border:none;
}
img {
    width:50%;
}